---
layout: layouts/home.njk
eleventyNavigation:
  key: stories
  order: 4
numberOfLatestPostsToShow: 3
title: stories
description: Flash fiction, short stories, & a secret third thing.
logo: 'stories-1.svg'
openGraph: 'stories'
sub: stories
---


   <article class="article">
               <p>
               Here, I'll post my short stories and flash fiction. For a long while, I wrote stories in secret that would break down in the second act and then left to rot in my drafts. I'm ready to get hurt again.
               </p>
            </article>

            <div class="auto-list-block">
{% set subDomStories = collections.posts | include("data.sub", "stories") %}

{% set postsCount = subDomStories | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} stories{% if latestPostsCount != 1 %} & such{% endif %}</h2>

{% set postslist = subDomStories | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p style="margin-top: 1.5em;">{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/stories/all-posts/">all notebook posts</a>.</p>
{% endif %}


</div>

<div class="auto-list-block">

<h3>Oddities</h3>
<p>All the pages from the 'don't click here' link at the footer.

<p>
    <a href="/shame-fish/">
Shame Fish
    </a>
</p>
<p>
    <a href="/drunk-baby/">
Drunk Baby
    </a>
</p>
<p>
    <a href="/irate ivan/">
Irate Ivan
    </a>
</p>
<p>
    <a href="/photog-phil/">
Photog Phil
    </a>
</p>
<p>
    <a href="/that-look-lion/">
That-look Lion
    </a>
</p>
<p>
    <a href="/yuck-leopard/">
Yuck Leopard
    </a>
</p>


</div>