---
title: Oddities
description: The dumb pages from my footer.
sub: stories
series: titlepage
seriesID: oddities
pageGraphic: 'graphic-30.png'
---
<p class="overline accent secondary-font">series</p>
<h1>{{ title }}</h1>
<p class="lead under-title">{{ description }}</p>

<p>
This collection of digital oddities came to me in a flash of inspiration. It's an ode to old email chains, and how virality worked before we had the For You Page. The early internet wasn't as sophisticated as it is today. There was no algorithm to master. Yet, email chains worked on familiar principles. FOMO, superstition, and mirrored values and identities are still how things go viral today.
</p>
<p>
Anyway, I hope you enjoy these silly little weirdos. And I pray <a href="/p/stories/s/oddities/photog-phil/" target="_blank">Photog Phil</a> wasn't the first one you read.
</p>

<h2>Table of Contents</h2>
<div class="auto-list-block">
{% set seriesIDposts = collections.posts | include("data.seriesID", "oddities") %}
{% set postslist = seriesIDposts %}
{% include "seriespostslist.njk" %}

</div>
