/* Continued styling not in the latest Webflow template version. */

/* --  iframe */  

iframe {
	margin-top: 1em;
}
/* --  footnotes  */   

.footnotes-list {
	padding-left: 1em;
}

.footnotes-list li p a {
	font-size: var(--small-font-size);
}

.footnote-ref {
  font-family: var(--fonts--secondary-font-family);
  text-decoration: none;
}

.footnote-ref a {
  text-decoration: none;
  color: var(--color--accent);
}


/* -- new lead combo class that sets negative margin-top. also overline for series*/    

.under-title {
	margin-top: -1em; 
	margin-bottom: 1.25em;
}

.overline {
	text-transform: uppercase;
	font-size: var(--text--small-font-size);
	margin-bottom: -2.5em;
}

/* removed align from things like quotes */
quote, .quote {
text-align: left;
}
.justify-left {
text-align: left;
}
/* fixing images */

@media screen and (max-width: 479px) {
img {
 width: 100%;
 margin: 1em 0;
 padding: 0 -1.5em;
}
}
a:focus, a:focus-visible {
    font-style: normal !important;
}

.followCTA--box {
	margin-top: .25em;
	  font-family: var(--fonts--secondary-font-family);
}

.followCTA {
	  font-family: var(--body--secondary-font);
	  font-size: var(--font-size--small);
	  text-decoration: none;
	  color: var(--brand--red-ink) !important;
}

.drop-cap {
    float: left;
    clear: none;
    max-width: 70px;
    margin: .95em .75em 0 0;
}

.image-3 {
    max-width: 250px;
    margin-top: 4em;
    margin-bottom: 4em;
}

.div-block-17 {
    margin-top: 1.5em;
}

.div-block-18 {
    margin-top: 1em;
}

.popular-link-title {
    font-size: var(--font-size--lead);
    line-height: 1.3;
}

.popular-link-summary {
    margin-top: .5em;
    line-height: 1.2;
}

.section-header-home {
    text-align: center;
    letter-spacing: .25em;
    -webkit-text-stroke-width: 1.4px;
    text-transform: uppercase;
    margin-top: 2.5em;
    margin-bottom: 1.75em;
    font-size: 130%;
    line-height: 100%;
    display: block;
}


.image-3 {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
}


.display-new {
    text-align: center;
    color: #004ed8;
    letter-spacing: .15em;
    -webkit-text-stroke-width: .7px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 260%;
    line-height: 100%;
}


.deckhead-img-xl-2 {

    width: 250px;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}


.lead-2 {
    font-size: var(--font-size--lead);
    margin-top: .5em;
    line-height: 130%;
}



@media screen and (max-width: 479px)

.display-new {
    text-align: center;
    -webkit-text-stroke-width: .8px;
    white-space: nowrap;
    line-height: 120%;
}

.lead-2 {
    text-align: center;
    margin-top: 0;
}

.deckhead-img-xl-2 {
    width: 170px;
}

.display-2nd-line-2 {
    margin-top: .5em;
    font-size: 195%;
}

.display-2nd-line-2 {
    text-align: center;
    letter-spacing: .22em;
    -webkit-text-stroke-width: 1.5px;
    text-transform: uppercase;
    margin-top: .5em;
    font-size: 196%;
    line-height: 100%;
    display: inline-block;
}

}

