/* Continued styling not in the latest Webflow template version. */

/* --  iframe */  

iframe {
	margin-top: 1em;
}
/* --  footnotes  */   

.footnotes-list {
	padding-left: 1em;
}

.footnotes-list li p a {
	font-size: var(--small-font-size);
}

.footnote-ref {
  font-family: var(--fonts--secondary-font-family);
  text-decoration: none;
}

.footnote-ref a {
  text-decoration: none;
  color: var(--color--accent);
}


/* -- new lead combo class that sets negative margin-top. also overline for series*/    

.under-title {
	margin-top: -1em; 
	margin-bottom: 1.25em;
}

.overline {
	text-transform: uppercase;
	font-size: var(--text--small-font-size);
	margin-bottom: -2.5em;
}
/* reduced margin top for better architecture. the top sentence is always associated with the image. */
img {
  margin: .5em auto 2em auto;
}

/* removed align from things like quotes */
quote, .quote {
text-align: left;
}
.justify-left {
text-align: left;
}
/* fixing images */

@media screen and (max-width: 479px) {
img {
 width: 100%;
 margin: 1em 0;
 padding: 0 -1.5em;
}
}
a:focus, a:focus-visible {
    font-style: normal !important;
}
