---
title: All posts from everywhere
layout: layouts/page.njk
permalink: "/{{ title | slugify }}/"
graphic: '525.png'
---
<h1>{{ title }}</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
