---
eleventyExcludeFromCollections: true
eleventyComputed:
  permalink: "/humans.txt"
---

# Humans.txt: Text files for humans.

You found my humans.txt file. What. A. Nerd. I love you.

## About

This file exists to give thanks to those who have contributed to fromjason.xyz. Since I am a one-person team at the moment, these will likely be indirect contributions (resources, assets, guides, tips, tricks, code, tools, etc.), but important nonetheless. 

I'm considering an entry format for my humans.txt to keep it evergreen and my list of credits growing. I think it'll be cool to see a history of entries, too. Thanks for stopping by.

## My first entry: November 19, 2023

It's 5:22pm on a Sunday. I'm hungry and running out of steam so, this file is officially incomplete. Check back very soon.