---
layout: layouts/home.njk
eleventyNavigation:
  key: from jason
  order: 1
numberOfLatestPostsToShow: 5
title: from jason
description: A digital garden for a physical meat bag.
logo: 'fromjason-1.svg'
openGraph: 'fromjason'
sub: fromjason
---

<article class="article">
   <h2>What's up nerds, I'm Jason.</h2>
   <p class="lead"><i>From Jason</i> is a digital garden with multiple “<a href="/p/">plots</a>.” You can read more about my set up <a href="/p/notebook/from-jason-2-0-is-an-11ty-powered-digital-garden-with-multiple-plots/" title="digital garden">here</a>.</p>
   <p>Welcome. I trust you found the place okay? Coming way out here to the digital wilderness, I bet you're tired and hungry, huh? Well, this is the internet. I can't feed you or anything. Weirdos. But, I'm happy to show you around.</p>
   <p>This is my space. I designed it myself (with <a href="/me/colophon/" title="colophon">help</a>). It's where I store my <a href="/p/notebook" title="my notebook">writings</a>, <a href="/me/now/" title="my projects">projects</a>, thoughts, internet <a href="/p/stories/s/oddities/">oddities</a>, failed dreams, and new hopes. It's ever-changing, and at times, ill-defined. And that's fine by me.</p>
   <p>Feel free to <a href="/all/" title="all posts">poke around</a>. I'm glad you're here.</p>
</article>
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h3>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %} from all subs</h3>
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}
{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p style="margin-top: 1.5em;">{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/all/">all posts</a>.</p>
{% endif %}
<h3>More, other, & additional, and etcetera, and more.</h3>
<!-- This filters posts with "me" in the front matter. -->
{% set filterByMe = collections.me | include("data.sub", "me") %}
{% set postslist = filterByMe %}
{% include "mepostslist.njk" %}