---
layout: layouts/home.njk
eleventyNavigation:
  key: from jason
  order: 1
numberOfLatestPostsToShow: 5
rssDir: '/p/notebook'
title: from jason
description: A digital garden for a physical meat bag.
logo: 'logo-fromjason.svg'
openGraph: 'opengraph-fromjason.png'
sub: fromjason
---
<article class="h-card article">
<h2>What's up nerds, I'm <span class="p-given-name">Jason</span>.</h2>
<p class="p-note">I'm a digital freelancer, writer, uncle, <a href="https://www.washingtonpost.com/nation/2018/12/05/rudy-giulianis-typo-became-an-anti-trump-message-he-blamed-twitter-this-atlanta-man-pranked-him/" title="My Rudy Giuliani trolling">internet troublemaker</a>, and fond admirer of the French Goodbye.</p>
<p><a rel="me" class="u-url" href="https://www.fromjason.xyz/">From Jason</a> is my <a href="/p/freelance/from-jason-2-0-is-an-11ty-powered-digital-garden-with-multiple-plots/">digital garden</a>— a personal website where I tend to <a href="/all/" title="all posts">my writing</a>, <a href="/me/now/" title="me, now">projects</a>, <a href="/p/stories/s/oddities/" title="oddities series">oddities</a>, interesting finds, failed dreams, and new hopes.
I recently added a micro.blog subdomain as an experiment. Check it out: <a class="accent" href="https://micro.fromjason.xyz">micro.fromjason.xyz</a>.</p>
<p>I built this site from the ashes of Twitter and Facebook, using <a href="https://indieweb.org/principles" title="indie web principles">Indie Web</a> tenets for my mortar. What is made, stands as a rejection of corporate social media silos and signals my full participation in the <a href="https://indieweb.org" title="indieweb wiki">Indie Web</a>. Plus, chicks dig personal websites, bro. Scientific fact.</p>
<p>Welcome. Feel free to <a href="https://www.fromjason.xyz/p/" title="all posts">poke around</a>, follow one of my feeds (<a href="https://www.fromjason.xyz/p/notebook/feed/feed.xml" title="notebook RSS">here's my notebook</a>), or <a href="https://www.fromjason.xyz/me/" title="me page">contact me</a> directly. I'm glad you're here.</p>
</article>
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h3>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %} from all plots</h3>
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}
{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p style="margin-top: 1.5em;">{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/all/">all posts</a>.</p>
{% endif %}
<h3>More, other, & additional, and etcetera, and more.</h3>
<!-- This filters posts with "me" in the front matter. -->
{% set filterByMe = collections.me | include("data.sub", "me") %}
{% set postslist = filterByMe %}
{% include "mepostslist.njk" %}
