<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
   <channel>
      <title>
         <![CDATA[ Jason Articles / Raindrop.io ]]>
      </title>
      <link>
      https://raindrop.io</link>
      <description>
         <![CDATA[  ]]>
      </description>
      <language>en-US</language>
      <generator>raindrop.io</generator>
      <atom:link href="https://bg.raindrop.io/rss/public/39744387" rel="self" type="application/rss+xml"/>
      <image>
         <url>https://up.raindrop.io/collection/templates/colors/m7.png</url>
         <link>
         https://raindrop.io</link>
         <title>
            <![CDATA[ Articles / Raindrop.io ]]>
         </title>
      </image>
      <lastBuildDate>Thu, 07 Dec 2023 04:25:15 GMT</lastBuildDate>
      <item>
         <title>
            <![CDATA[ In 1903, New York Times predicted that airplanes would take 10 million years to develop ]]>
         </title>
         <link>
         https://bigthink.com/pessimists-archive/air-space-flight-impossible/</link>
         <description>
            &lt;img src=&quot;https://bigthink.com/wp-content/uploads/2022/04/nyt-flight.jpg?resize=1200,630&quot; /&gt;&lt;br/&gt;<![CDATA[ Only nine weeks later, the Wright Brothers achieved manned flight. The pathologically cynical always will find a reason to complain. ]]>
         </description>
         <pubDate>Thu, 30 Nov 2023 03:46:54 GMT</pubDate>
         <guid>https://bigthink.com/pessimists-archive/air-space-flight-impossible/</guid>
         <category>link</category>
      </item>
      <item>
         <title>
            <![CDATA[ Four Internets: The Geopolitics of Digital Governance ]]>
         </title>
         <link>
         https://www.cigionline.org/publications/four-internets-geopolitics-digital-governance/</link>
         <description>
            &lt;img src=&quot;https://www.cigionline.org/static/images/iStock-916978598_web-01.2e16d0ba.fill-1600x900.png&quot; /&gt;&lt;br/&gt;<![CDATA[ The internet — a fragile construction of hardware, software, standards and databases — is run by an ever-expanding range of private and public actors constrained only by voluntary protocols and subject to political pressure. The authors describe four emerging views of how to govern the internet, each playing a geopolitical role and championed at the national level: Silicon Valley’s open internet, Brussels’ bourgeois internet, Beijing’s authoritarian internet and DC’s commercial internet. The competition to establish which internet prevails is likely to be strong, and not always focused on win-wins. ]]>
         </description>
         <pubDate>Sun, 26 Nov 2023 04:27:57 GMT</pubDate>
         <guid>https://www.cigionline.org/publications/four-internets-geopolitics-digital-governance/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ New Study Shows That 25% of Twitter Users Produce 97% of All Tweets ]]>
         </title>
         <link>
         https://www.socialmediatoday.com/news/new-study-shows-that-25-of-twitter-users-produce-97-of-all-tweets/610146/</link>
         <description>
            &lt;img src=&quot;https://www.socialmediatoday.com/imgproxy/KykWn_QgLKRh7rch5E1VBvM31cgCpXYbhbP5m6H0JJQ/g:ce/rs:fill:770:435:0/bG9jYWw6Ly8vZGl2ZWltYWdlL3Bld190d2VldHMzLnBuZw.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ The study underlines the 'dominance of the few' rule on social media, and its broader impacts. ]]>
         </description>
         <pubDate>Sat, 25 Nov 2023 20:08:35 GMT</pubDate>
         <guid>https://www.socialmediatoday.com/news/new-study-shows-that-25-of-twitter-users-produce-97-of-all-tweets/610146/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ We Should Replace Facebook With Personal Websites ]]>
         </title>
         <link>
         https://www.vice.com/en/article/vbanny/we-should-replace-facebook-with-personal-websites</link>
         <description>
            &lt;img src=&quot;https://video-images.vice.com/articles/5c1aaea91854f30006cb2f1e/lede/1545253629235-shutterstock_1063990172-copy.jpeg?image-resize-opts=Y3JvcD0wLjc3NDl4dzoxeGg7MC4wMzkxeHcsMHhoJnJlc2l6ZT0xMjAwOiomcmVzaXplPTEyMDA6Kg&quot; /&gt;&lt;br/&gt;<![CDATA[ Personal websites and email can replace most of what people like about Facebook—namely the urge to post about their lives online. ]]>
         </description>
         <pubDate>Sat, 25 Nov 2023 20:00:31 GMT</pubDate>
         <guid>https://www.vice.com/en/article/vbanny/we-should-replace-facebook-with-personal-websites</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ No feature ]]>
         </title>
         <link>
         https://ia.net/topics/no-feature</link>
         <description>
            &lt;img src=&quot;https://ia.net/wp-content/uploads/2023/11/anarchy-in-the-IA-1024x475.png&quot; /&gt;&lt;br/&gt;<![CDATA[ After a year of observation, experimentation, and testing, we may have found a careful response to the challenges we face with AI. ]]>
         </description>
         <pubDate>Thu, 23 Nov 2023 22:54:48 GMT</pubDate>
         <guid>https://ia.net/topics/no-feature</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Buttons Are Bougie Now ]]>
         </title>
         <link>
         https://www.theatlantic.com/technology/archive/2023/02/buttons-on-gadgets-resurgence-nostalgia/673102/</link>
         <description>
            &lt;img src=&quot;https://cdn.theatlantic.com/thumbor/Fa4346QtgJEd1A8V33vlLpudWNE=/0x61:2876x1559/1200x625/media/img/mt/2023/02/Buttons/original.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Everyone is tired of touch screens. ]]>
         </description>
         <pubDate>Thu, 23 Nov 2023 04:50:38 GMT</pubDate>
         <guid>https://www.theatlantic.com/technology/archive/2023/02/buttons-on-gadgets-resurgence-nostalgia/673102/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ What Google Search Isn’t Showing You ]]>
         </title>
         <link>
         https://www.newyorker.com/culture/infinite-scroll/what-google-search-isnt-showing-you</link>
         <description>
            &lt;img src=&quot;https://media.newyorker.com/photos/6228e8e572e438a479e04a0e/16:9/w_1280,c_limit/chayka_google_social_2.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ The search engine has made up so much of our online experience for so long that it can be hard to imagine something better. ]]>
         </description>
         <pubDate>Mon, 20 Nov 2023 17:54:47 GMT</pubDate>
         <guid>https://www.newyorker.com/culture/infinite-scroll/what-google-search-isnt-showing-you</guid>
         <category>article</category>
         <category>
            <![CDATA[ fyp ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ Oops! We Automated Bullshit. | Department of Computer Science and Technology ]]>
         </title>
         <link>
         https://www.cst.cam.ac.uk/blog/afb21/oops-we-automated-bullshit</link>
         <description>
            &lt;img src=&quot;https://www.cst.cam.ac.uk/sites/www.cst.cam.ac.uk/files/automated-bullshit.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ ChatGPT is a bullshit generator. To understand AI, we should think harder about bullshit ]]>
         </description>
         <pubDate>Sat, 18 Nov 2023 07:46:43 GMT</pubDate>
         <guid>https://www.cst.cam.ac.uk/blog/afb21/oops-we-automated-bullshit</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ How does a duck change its sex? ]]>
         </title>
         <link>
         https://www.bbc.com/news/science-environment-40016817</link>
         <description>
            &lt;img src=&quot;https://ichef.bbci.co.uk/news/1024/branded_news/10CC0/production/_96400886_1.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ The biological trick that allows a female mandarin duck to become a male. ]]>
         </description>
         <pubDate>Sun, 29 Oct 2023 04:48:44 GMT</pubDate>
         <guid>https://www.bbc.com/news/science-environment-40016817</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ An Essay on the New Aesthetic ]]>
         </title>
         <link>
         https://www.wired.com/2012/04/an-essay-on-the-new-aesthetic/</link>
         <description>
            &lt;img src=&quot;https://rdl.ink/render/https%3A%2F%2Fwww.wired.com%2F2012%2F04%2Fan-essay-on-the-new-aesthetic%2F&quot; /&gt;&lt;br/&gt;<![CDATA[  ]]>
         </description>
         <pubDate>Sat, 14 Oct 2023 06:27:07 GMT</pubDate>
         <guid>https://www.wired.com/2012/04/an-essay-on-the-new-aesthetic/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ How Google Alters Search Queries to Get at Your Wallet ]]>
         </title>
         <link>
         https://www.wired.com/story/google-antitrust-lawsuit-search-results/</link>
         <description>
            &lt;img src=&quot;https://media.wired.com/photos/65174858f302a7f0adc6db00/191:100/w_1280,c_limit/ideas_google_search_antitrust.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Testimony during Google’s antitrust case revealed that the company may be altering billions of queries a day to generate results that will get you to buy more stuff. ]]>
         </description>
         <pubDate>Tue, 03 Oct 2023 04:16:30 GMT</pubDate>
         <guid>https://www.wired.com/story/google-antitrust-lawsuit-search-results/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Autonomy Online: A Case For The IndieWeb — Smashing Magazine ]]>
         </title>
         <link>
         https://www.smashingmagazine.com/2020/08/autonomy-online-indieweb/</link>
         <description>
            &lt;img src=&quot;https://archive.smashing.media/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/12a07f10-edcb-4e4f-8045-5ba1da468360/indieweb-autonomy-online.png&quot; /&gt;&lt;br/&gt;<![CDATA[ There is an alternative to corporate bubbles online — it’s called the IndieWeb. Build your own personal websites, control your online presence, and learn on your own terms. ]]>
         </description>
         <pubDate>Mon, 02 Oct 2023 02:13:37 GMT</pubDate>
         <guid>https://www.smashingmagazine.com/2020/08/autonomy-online-indieweb/</guid>
         <category>article</category>
         <category>
            <![CDATA[ fyp ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ 404 Page Not Found | Kate Wagner ]]>
         </title>
         <link>
         https://thebaffler.com/salvos/404-page-not-found-wagner</link>
         <description>
            &lt;img src=&quot;https://thebaffler.com/wp-content/uploads/2019/01/B43_Wagner_opener.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ The artifacts of internet life are personal—that is, not professionally or historically notable—and therefore worthless. ]]>
         </description>
         <pubDate>Sun, 01 Oct 2023 01:24:50 GMT</pubDate>
         <guid>https://thebaffler.com/salvos/404-page-not-found-wagner</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ A Brief History of the Internet ]]>
         </title>
         <link>
         https://www.usg.edu/galileo/skills/unit07/internet07_02.phtml</link>
         <description>
            &lt;img src=&quot;https://www.usg.edu/galileo/skills/unit07/images/07_02_univac.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[  ]]>
         </description>
         <pubDate>Sun, 01 Oct 2023 01:24:16 GMT</pubDate>
         <guid>https://www.usg.edu/galileo/skills/unit07/internet07_02.phtml</guid>
         <category>link</category>
      </item>
      <item>
         <title>
            <![CDATA[ Why there’s so little left of the early internet ]]>
         </title>
         <link>
         https://www.bbc.com/future/article/20190401-why-theres-so-little-left-of-the-early-internet</link>
         <description>
            &lt;img src=&quot;https://ychef.files.bbci.co.uk/live/624x351/p0755sr5.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ It took nearly five years into the internet’s life before anyone made a concerted effort to archive it. Much of our earliest online activity has disappeared. ]]>
         </description>
         <pubDate>Sun, 01 Oct 2023 01:23:36 GMT</pubDate>
         <guid>https://www.bbc.com/future/article/20190401-why-theres-so-little-left-of-the-early-internet</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Weird Twitter: The Symbolic Construction of Community through Iterative Reification ]]>
         </title>
         <link>
         https://digifesto.com/2012/10/16/weird-twitter-the-symbolic-construction-of-community-through-iterative-reification/</link>
         <description>
            &lt;img src=&quot;https://s0.wp.com/i/blank.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Is there such a thing as Weird Twitter? Earlier I wrote a blog post based on my (non-participant) observations of a Twitter subculture. Recently, there’s been some activity around it in the t… ]]>
         </description>
         <pubDate>Sat, 30 Sep 2023 23:15:43 GMT</pubDate>
         <guid>https://digifesto.com/2012/10/16/weird-twitter-the-symbolic-construction-of-community-through-iterative-reification/</guid>
         <category>article</category>
         <category>
            <![CDATA[ Old Web ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ As We May Think ]]>
         </title>
         <link>
         https://www.theatlantic.com/magazine/archive/1945/07/as-we-may-think/303881/</link>
         <description>
            &lt;img src=&quot;https://cdn.theatlantic.com/thumbor/p3pkh2RYR4qWpQk3qC6zhJpPd9Y=/0x350:2994x1909/1200x625/media/img/2018/03/AP_413517775098/original.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ “Consider a future device …&amp;nbsp;&amp;nbsp;in which an individual stores all his books, records, and communications, and which is mechanized so that it may be consulted with exceeding speed and flexibility. It is an enlarged intimate supplement to his memory.” ]]>
         </description>
         <pubDate>Thu, 28 Sep 2023 04:12:42 GMT</pubDate>
         <guid>https://www.theatlantic.com/magazine/archive/1945/07/as-we-may-think/303881/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Elements of E-style ]]>
         </title>
         <link>
         https://www.newyorker.com/magazine/2007/04/16/elements-of-e-style</link>
         <description>
            &lt;img src=&quot;https://media.newyorker.com/photos/590930a7c14b3c606c1028ae/16:9/w_1280,c_limit/070416_talkpmgrtnspot_p646.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Email etiquette guide ]]>
         </description>
         <pubDate>Tue, 26 Sep 2023 21:12:55 GMT</pubDate>
         <guid>https://www.newyorker.com/magazine/2007/04/16/elements-of-e-style</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Evgeny Morozov, Critique of Techno-Feudal Reason, NLR 133/134, January–April 2022 ]]>
         </title>
         <link>
         https://newleftreview.org/issues/ii133/articles/evgeny-morozov-critique-of-techno-feudal-reason</link>
         <description>
            &lt;img src=&quot;https://newleftreview.org/media/W1siZiIsIjIwMjIvMDQvMTMvZzF2dHlvczYxX05MUjEzM180X0NhcmRfVGVtcGxhdGUucG5nIl1d?sha=734b1ce5f1941ec5&quot; /&gt;&lt;br/&gt;<![CDATA[ Countering current claims that digital capitalism is issuing in a ‘neofeudal’ age, as the rentier barons of Silicon Valley and Wall Street extract non-productive fortunes from their users and debtors, Evgeny Morozov returns to classic debates over the transition to capitalism to question the relation of the economic and the political. ]]>
         </description>
         <pubDate>Tue, 26 Sep 2023 12:47:29 GMT</pubDate>
         <guid>https://newleftreview.org/issues/ii133/articles/evgeny-morozov-critique-of-techno-feudal-reason</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Yanis Varoufakis on Crypto & the Left, and Techno-Feudalism ]]>
         </title>
         <link>
         https://the-crypto-syllabus.com/yanis-varoufakis-on-techno-feudalism/</link>
         <description>
            &lt;img src=&quot;https://the-crypto-syllabus.com/content/images/2022/01/D-02607.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ &quot;Within our present oligarchic, exploitative, irrational, and inhuman world system, the rise of crypto applications will only make our society more oligarchic, more exploitative, more irrational, and more inhuman.&quot; ]]>
         </description>
         <pubDate>Tue, 26 Sep 2023 05:50:38 GMT</pubDate>
         <guid>https://the-crypto-syllabus.com/yanis-varoufakis-on-techno-feudalism/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Techno-Feudalism Is Taking Over | by Yanis Varoufakis - Project Syndicate ]]>
         </title>
         <link>
         https://www.project-syndicate.org/commentary/techno-feudalism-replacing-market-capitalism-by-yanis-varoufakis-2021-06</link>
         <description>
            &lt;img src=&quot;https://webapi.project-syndicate.org/library/62a120053d1918dd4ea44fa623f20f17.2-1-super.1.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Yanis Varoufakis argues that central-bank money and digital platforms, not profits and markets, are driving today's economy. ]]>
         </description>
         <pubDate>Tue, 26 Sep 2023 04:54:45 GMT</pubDate>
         <guid>https://www.project-syndicate.org/commentary/techno-feudalism-replacing-market-capitalism-by-yanis-varoufakis-2021-06</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ define: Brand | Seth's Blog ]]>
         </title>
         <link>
         https://seths.blog/2009/12/define-brand/</link>
         <description>
            &lt;img src=&quot;https://149521506.v2.pressablecdn.com/wp-content/uploads/2018/05/sethgodin_08.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Here’s my definition: A brand is the set of expectations, memories, stories and relationships that, taken together, account for a consumer’s decision to choose one product or service over ano… ]]>
         </description>
         <pubDate>Mon, 25 Sep 2023 21:37:50 GMT</pubDate>
         <guid>https://seths.blog/2009/12/define-brand/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Writing by Numbers ]]>
         </title>
         <link>
         https://ia.net/topics/writing-by-numbers</link>
         <description>
            &lt;img src=&quot;https://ia.net/wp-content/uploads/2023/08/alexander-startsev-fkNXavW6mYQ-unsplash-wide-1024x237.png&quot; /&gt;&lt;br/&gt;<![CDATA[ Starting to write can feel like sucking on a lemon. Here's a simple way to plan, start and guide your writing: Use numbers to control your journey. ]]>
         </description>
         <pubDate>Mon, 25 Sep 2023 02:30:27 GMT</pubDate>
         <guid>https://ia.net/topics/writing-by-numbers</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ The ‘Enshittification’ of TikTok ]]>
         </title>
         <link>
         https://www.wired.com/story/tiktok-platforms-cory-doctorow/</link>
         <description>
            &lt;img src=&quot;https://media.wired.com/photos/63cec5c01628debb3e3ed677/191:100/w_1280,c_limit/Enshittification-of%20TikTok-Ideas-1229058759.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Or how, exactly, platforms die. ]]>
         </description>
         <pubDate>Sun, 24 Sep 2023 22:41:09 GMT</pubDate>
         <guid>https://www.wired.com/story/tiktok-platforms-cory-doctorow/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ How to Take Back Control of What You Read on the Internet ]]>
         </title>
         <link>
         https://www.theatlantic.com/ideas/archive/2023/03/social-media-algorithms-twitter-meta-rss-reader/673282/</link>
         <description>
            &lt;img src=&quot;https://cdn.theatlantic.com/thumbor/vyw-zZjPJgV_hw3a-4wBYD1piqY=/0x43:2000x1085/1200x625/media/img/mt/2023/03/TakeBackControl/original.png&quot; /&gt;&lt;br/&gt;<![CDATA[ Social-media algorithms show us what they want us to see, not what we want to see. But there is an alternative. ]]>
         </description>
         <pubDate>Sun, 24 Sep 2023 02:52:45 GMT</pubDate>
         <guid>https://www.theatlantic.com/ideas/archive/2023/03/social-media-algorithms-twitter-meta-rss-reader/673282/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Street Fighter: The Movie — What went wrong ]]>
         </title>
         <link>
         https://www.polygon.com/features/2014/3/10/5451014/street-fighter-the-movie-what-went-wrong</link>
         <description>
            &lt;img src=&quot;https://cdn.vox-cdn.com/thumbor/AIqB48UQMpgoZuWzvVmRNdgFnzM=/0x27:960x567/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/29253375/flywire-final.0.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ The flight to Thailand was long. Stephen de Souza wished it were longer.
               Over the previous decade, from 1982 to 1992, de Souza had established himself as a screenwriting wunderkind. Most... ]]>
         </description>
         <pubDate>Tue, 19 Sep 2023 21:04:55 GMT</pubDate>
         <guid>https://www.polygon.com/features/2014/3/10/5451014/street-fighter-the-movie-what-went-wrong</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ How Essential Are the 'Email Job' Caste? - American Compass ]]>
         </title>
         <link>
         https://americancompass.org/how-essential-are-the-email-job-caste/</link>
         <description>
            &lt;img src=&quot;https://americancompass.org/wp-content/uploads/2022/10/bj-jensen-48k2avQAE_k-unsplash-scaled-e1617628038295.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Those in the “e-mail job” caste are literally taking money out of a pie which would be more deservedly enjoyed by the families who do the actual work. ]]>
         </description>
         <pubDate>Fri, 15 Sep 2023 22:31:16 GMT</pubDate>
         <guid>https://americancompass.org/how-essential-are-the-email-job-caste/</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ ‘I had to guard an empty room’: the rise of the pointless job ]]>
         </title>
         <link>
         https://amp.theguardian.com/money/2018/may/04/i-had-to-guard-an-empty-room-the-rise-of-the-pointless-job</link>
         <description>
            &lt;img src=&quot;https://i.guim.co.uk/img/media/e2452c3b3ecdedfee0ad90c27acb0ee280103e1d/0_116_2990_1794/master/2990.jpg?width=1200&amp;height=630&amp;quality=85&amp;auto=format&amp;fit=crop&amp;overlay-align=bottom%2Cleft&amp;overlay-width=100p&amp;overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&amp;enable=upscale&amp;s=dc0856aa6feae0665ef88cc039a68c63&quot; /&gt;&lt;br/&gt;<![CDATA[ Copying and pasting emails. Inventing meaningless tasks for others. Just looking busy. Why do so many people feel their work is completely unnecessary? ]]>
         </description>
         <pubDate>Fri, 15 Sep 2023 22:29:18 GMT</pubDate>
         <guid>https://amp.theguardian.com/money/2018/may/04/i-had-to-guard-an-empty-room-the-rise-of-the-pointless-job</guid>
         <category>link</category>
      </item>
      <item>
         <title>
            <![CDATA[ Your Pristine Hermès Bag, to Some, Looks Tacky ]]>
         </title>
         <link>
         https://www.nytimes.com/2023/03/04/style/hermes-bags-resale-used.html</link>
         <description>
            &lt;img src=&quot;https://static01.nyt.com/images/2023/03/05/multimedia/04BEATUP-HERMES-01-kjbv/04BEATUP-HERMES-01-kjbv-facebookJumbo.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ As a growing resale market has made the brand’s handbags available to more people, some say the image that they convey depends on their condition. ]]>
         </description>
         <pubDate>Wed, 06 Sep 2023 03:20:24 GMT</pubDate>
         <guid>https://www.nytimes.com/2023/03/04/style/hermes-bags-resale-used.html</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Tech Titans Like Elon Musk Want to Save Earth by Having Tons of Child… ]]>
         </title>
         <link>
         https://archive.ph/ZfgKw</link>
         <description>
            &lt;img src=&quot;https://archive.ph/ZfgKw/de648e2726cbd84954aff4be14fec75e7b33e898/scr.png&quot; /&gt;&lt;br/&gt;<![CDATA[ archived 18 Nov 2022 08:52:44 UTC ]]>
         </description>
         <pubDate>Thu, 30 Mar 2023 14:09:27 GMT</pubDate>
         <guid>https://archive.ph/ZfgKw</guid>
         <category>link</category>
         <category>
            <![CDATA[ Politech ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ On the Origins of the Professional-Managerial Class: An Interview with Barbara Ehrenreich - Dissent Magazine ]]>
         </title>
         <link>
         https://www.dissentmagazine.org/online_articles/on-the-origins-of-the-professional-managerial-class-an-interview-with-barbara-ehrenreich</link>
         <description>
            &lt;img src=&quot;https://www.dissentmagazine.org/wp-content/uploads/1200_72139606_10157561284972381_8322167858113019904_o.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ How do we recognize the similarities between people of different class positions without papering over the differences? ]]>
         </description>
         <pubDate>Sat, 25 Feb 2023 02:36:12 GMT</pubDate>
         <guid>https://www.dissentmagazine.org/online_articles/on-the-origins-of-the-professional-managerial-class-an-interview-with-barbara-ehrenreich</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ The new rules for how to behave in polite society - New York Magazine ]]>
         </title>
         <link>
         https://apple.news/nowPlaying/ASaWuCWk0TNCmyxl7-0jlKg</link>
         <description>
            &lt;img src=&quot;https://c.apple.news/AgEXQXAyMDZlcFhCUjV1VTM3RndpM2hLY1EAMA&quot; /&gt;&lt;br/&gt;<![CDATA[ How to text, tip, ghost, host, and generally exist in polite society today. ]]>
         </description>
         <pubDate>Mon, 13 Feb 2023 12:59:32 GMT</pubDate>
         <guid>https://apple.news/nowPlaying/ASaWuCWk0TNCmyxl7-0jlKg</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ Is a second Civil War underway in rural America? - Vanity Fair ]]>
         </title>
         <link>
         https://apple.news/nowPlaying/AiwTLQP7NRXaPD1wzllj42w</link>
         <description>
            &lt;img src=&quot;https://c.apple.news/AgEXQWl3VExRUDdOUlhhUEQxd3psbGo0MncAMA&quot; /&gt;&lt;br/&gt;<![CDATA[ On the road in rural Wisconsin, the author knocks on the doors of houses that bear the darkest American symbols and flags, behind them finding guns, ammo, and a modern philosophy of civil war ]]>
         </description>
         <pubDate>Fri, 10 Feb 2023 13:45:39 GMT</pubDate>
         <guid>https://apple.news/nowPlaying/AiwTLQP7NRXaPD1wzllj42w</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ This is why Mark Zuckerberg can't be fired as CEO of Meta ]]>
         </title>
         <link>
         https://www.businessinsider.com/why-mark-zuckerberg-cant-be-fired-as-meta-facebook-ceo-2022-11?amp</link>
         <description>
            &lt;img src=&quot;https://i.insider.com/6307f4ab58ebf60018c7ca31?width=1200&amp;format=jpeg&quot; /&gt;&lt;br/&gt;<![CDATA[ Despite growing pushback to Facebook's metaverse pivot, Zuckerberg structured his company so that it's nearly impossible for him to be ousted. ]]>
         </description>
         <pubDate>Thu, 22 Dec 2022 18:57:17 GMT</pubDate>
         <guid>https://www.businessinsider.com/why-mark-zuckerberg-cant-be-fired-as-meta-facebook-ceo-2022-11?amp</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ How millennials became cringe ]]>
         </title>
         <link>
         https://www.vox.com/the-highlight/23466389/millennials-cringe-epic-bacon</link>
         <description>
            &lt;img src=&quot;https://cdn.vox-cdn.com/thumbor/ciufrswj7na5g9BNf83361UlKzc=/0x31:1600x869/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/24279086/MillennialCringe_v03_ag.png&quot; /&gt;&lt;br/&gt;<![CDATA[ Remember when &quot;epic bacon&quot; was the height of comedy? ]]>
         </description>
         <pubDate>Mon, 19 Dec 2022 23:53:32 GMT</pubDate>
         <guid>https://www.vox.com/the-highlight/23466389/millennials-cringe-epic-bacon</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
         <category>
            <![CDATA[ Internet Culture ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ What Kind of Man Was Anthony Bourdain? ]]>
         </title>
         <link>
         https://www.theatlantic.com/books/archive/2022/11/anthony-bourdain-down-and-out-in-paradise-book/672284/</link>
         <description>
            &lt;img src=&quot;https://cdn.theatlantic.com/thumbor/E7ckchx2BldAnfwmJLTXrT68VMo=/0x986:2393x2232/1200x625/media/img/mt/2022/11/h_15743791/original.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ He was so damaged, and yet he showed us so much of the world. ]]>
         </description>
         <pubDate>Tue, 29 Nov 2022 19:26:19 GMT</pubDate>
         <guid>https://www.theatlantic.com/books/archive/2022/11/anthony-bourdain-down-and-out-in-paradise-book/672284/</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ What Really Happened When Google Ousted Timnit Gebru - WIRED ]]>
         </title>
         <link>
         https://apple.news/A1GXgqCK5T7KC1knqwQxO7w</link>
         <description>
            &lt;img src=&quot;https://c.apple.news/AgEXQTFHWGdxQ0s1VDdLQzFrbnF3UXhPN3cAMA&quot; /&gt;&lt;br/&gt;<![CDATA[ Timnit Gebru came up through Big Tech. When she switched careers from building AI to examining how it can spread racism and inequality, the giants kept courting her. Then she crossed an invisible line, and Google forced her out. Is Silicon Valley’s system of in-house ethics really going to protect us from the industry’s favorite toys? ]]>
         </description>
         <pubDate>Thu, 13 Oct 2022 15:12:31 GMT</pubDate>
         <guid>https://apple.news/A1GXgqCK5T7KC1knqwQxO7w</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
         <category>
            <![CDATA[ Politech ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ The End of Roe and the Feminist Industrial Complex - TIME ]]>
         </title>
         <link>
         https://apple.news/Aq43cYlgqRjiqQgh-GDdaJA</link>
         <description>
            &lt;img src=&quot;https://c.apple.news/AgEXQXE0M2NZbGdxUmppcVFnaC1HRGRhSkEAMA&quot; /&gt;&lt;br/&gt;<![CDATA[ The failure of the Feminist Industrial Complex ]]>
         </description>
         <pubDate>Thu, 13 Oct 2022 15:11:15 GMT</pubDate>
         <guid>https://apple.news/Aq43cYlgqRjiqQgh-GDdaJA</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ The Glitter Mystery ]]>
         </title>
         <link>
         https://pldlamplighter.org/uncategorized/2019/10/23/the-glitter-mystery/</link>
         <description>
            &lt;img src=&quot;https://pldlamplighter.org/wp-content/uploads/2019/09/Dylan-Stern-900x600.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ A mystery industry in the United States is putting a lot of glitter in their products–and they don’t want you to know about it. A little under a year ago, the New York Times published an article all about glitter. In it, journalist Caity Weaver went to Glitterex headquarters, one of the top glitter manufacturers... ]]>
         </description>
         <pubDate>Wed, 12 Oct 2022 04:46:17 GMT</pubDate>
         <guid>https://pldlamplighter.org/uncategorized/2019/10/23/the-glitter-mystery/</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ Have You Ever Tried to Sell a Diamond? ]]>
         </title>
         <link>
         https://www.theatlantic.com/magazine/archive/1982/02/have-you-ever-tried-to-sell-a-diamond/304575/</link>
         <description>
            &lt;img src=&quot;https://cdn.theatlantic.com/static/theatlantic/img/lacroix-default-thumbnail.png&quot; /&gt;&lt;br/&gt;<![CDATA[ 1982– An unruly market may undo the work of a giant cartel and of an inspired, decades-long ad campaign ]]>
         </description>
         <pubDate>Sun, 09 Oct 2022 04:43:44 GMT</pubDate>
         <guid>https://www.theatlantic.com/magazine/archive/1982/02/have-you-ever-tried-to-sell-a-diamond/304575/</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ America's 'crack' plague has roots in Nicaragua war ]]>
         </title>
         <link>
         https://ia801005.us.archive.org/22/items/dark_alliance_original_series-gary_webb_cia_cocaine/Gary-Webb_Dark-Alliance/www.narconews.com/darkalliance/drugs/day1main.html.pdf</link>
         <description>
            &lt;img src=&quot;https://rdl.ink/render/https%3A%2F%2Fia801005.us.archive.org%2F22%2Fitems%2Fdark_alliance_original_series-gary_webb_cia_cocaine%2FGary-Webb_Dark-Alliance%2Fwww.narconews.com%2Fdarkalliance%2Fdrugs%2Fday1main.html.pdf&quot; /&gt;&lt;br/&gt;<![CDATA[  ]]>
         </description>
         <pubDate>Thu, 06 Oct 2022 15:38:20 GMT</pubDate>
         <guid>https://ia801005.us.archive.org/22/items/dark_alliance_original_series-gary_webb_cia_cocaine/Gary-Webb_Dark-Alliance/www.narconews.com/darkalliance/drugs/day1main.html.pdf</guid>
         <category>document</category>
      </item>
      <item>
         <title>
            <![CDATA[ What are you willing to do? On the case for civil war ]]>
         </title>
         <link>
         https://www.lrb.co.uk/the-paper/v44/n10/james-meek/what-are-you-willing-to-do</link>
         <description>
            &lt;img src=&quot;https://lrb-website-production-assets.s3.eu-west-2.amazonaws.com/social_image/images/6/3/9/3/28543936-1-eng-GB/fce576cc8fd6-meekweb2.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ One of the strange things about the reaction to the invasion of the Capitol was how few of those dismayed by it... ]]>
         </description>
         <pubDate>Fri, 27 May 2022 06:04:30 GMT</pubDate>
         <guid>https://www.lrb.co.uk/the-paper/v44/n10/james-meek/what-are-you-willing-to-do</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ Just Blaze Details Making Jay Z's "Public Service Announcement" ]]>
         </title>
         <link>
         https://hiphopdx.com/news/id.26322/title.just-blaze-details-making-jay-zs-public-service-announcement</link>
         <description>
            &lt;img src=&quot;https://static.hiphopdx.com/2013/11/Just-Blaze_11-19-2013.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Just Blaze says he made the beat for &quot;Public Service Announcement&quot; in 10 minutes, shortly after &quot;The Black Album&quot; was handed in. ]]>
         </description>
         <pubDate>Thu, 05 May 2022 16:06:17 GMT</pubDate>
         <guid>https://hiphopdx.com/news/id.26322/title.just-blaze-details-making-jay-zs-public-service-announcement</guid>
         <category>article</category>
      </item>
      <item>
         <title>
            <![CDATA[ Designing the Wu-Tang Clan | CBC Radio ]]>
         </title>
         <link>
         https://www.cbc.ca/radio/q/blog/designing-the-wu-tang-clan-1.4375922</link>
         <description>
            &lt;img src=&quot;https://i.cbc.ca/1.4375994.1509134340!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_620/wu-tang-the-saga-continues.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Mathematics on creating the group's iconic logo and producing its latest album. ]]>
         </description>
         <pubDate>Fri, 01 Apr 2022 15:42:58 GMT</pubDate>
         <guid>https://www.cbc.ca/radio/q/blog/designing-the-wu-tang-clan-1.4375922</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ ‘Yes, He Would’: Fiona Hill on Putin and Nukes ]]>
         </title>
         <link>
         https://www.politico.com/news/magazine/2022/02/28/world-war-iii-already-there-00012340</link>
         <description>
            &lt;img src=&quot;https://www.politico.com/dims4/default/b55b9e8/2147483647/legacy_thumbnail/1200x800%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fd0%2Fff%2F0753889441398a8c13922fc62324%2Fmag-ap21357380163362-1-1.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Putin is trying to take down the entire world order, the veteran Russia watcher said in an interview. But there are ways even ordinary Americans can fight back. ]]>
         </description>
         <pubDate>Sun, 20 Mar 2022 17:54:57 GMT</pubDate>
         <guid>https://www.politico.com/news/magazine/2022/02/28/world-war-iii-already-there-00012340</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ A Brief history of the New Balance 997 ]]>
         </title>
         <link>
         https://www.nssmag.com/en/fashion/17353/new-balance-997h</link>
         <description>
            &lt;img src=&quot;https://data.nssmag.com/images/galleries/18834/bill-clinton-new-balance.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ The iconic silhouette returns now in a new reiteration ]]>
         </description>
         <pubDate>Sun, 13 Mar 2022 00:43:04 GMT</pubDate>
         <guid>https://www.nssmag.com/en/fashion/17353/new-balance-997h</guid>
         <category>article</category>
         <category>
            <![CDATA[ Fashion ]]>
         </category>
         <category>
            <![CDATA[ History ]]>
         </category>
         <category>
            <![CDATA[ Sneakers ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ The Difference Between Liberals and Leftists ]]>
         </title>
         <link>
         https://nathanallebach.medium.com/the-difference-between-liberals-and-leftists-643ad3eacb79</link>
         <description>
            &lt;img src=&quot;https://miro.medium.com/max/1024/1*32scR-AawpTgwW-aedX-pw.png&quot; /&gt;&lt;br/&gt;<![CDATA[ Nothing fuels online discourse like fights over language. New terms will popularize in a subculture then trickle into the zeitgeist until… ]]>
         </description>
         <pubDate>Wed, 24 Nov 2021 19:29:44 GMT</pubDate>
         <guid>https://nathanallebach.medium.com/the-difference-between-liberals-and-leftists-643ad3eacb79</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ Facebook could decide an election without anyone ever finding out ]]>
         </title>
         <link>
         https://www.newstatesman.com/science-tech/2014/06/facebook-could-decide-election-without-anyone-ever-finding-out</link>
         <description>
            &lt;img src=&quot;https://live-newstatesman-multisite.pantheonsite.io/newstatesman/wp-content/uploads/sites/2/2021/06/144539910-scaled.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ The scary future of digital gerrymandering – and how to prevent it. ]]>
         </description>
         <pubDate>Mon, 08 Nov 2021 18:35:42 GMT</pubDate>
         <guid>https://www.newstatesman.com/science-tech/2014/06/facebook-could-decide-election-without-anyone-ever-finding-out</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
         <category>
            <![CDATA[ Politech ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ Who Is the Bad Art Friend? ]]>
         </title>
         <link>
         https://www.nytimes.com/2021/10/05/magazine/dorland-v-larson.html</link>
         <description>
            &lt;img src=&quot;https://static01.nyt.com/images/2021/10/10/magazine/10mag-art-1/10mag-art-1-facebookJumbo-v2.jpg&quot; /&gt;&lt;br/&gt;<![CDATA[ Art often draws inspiration from life — but what happens when it’s your life? Inside the curious case of Dawn Dorland v. Sonya Larson. ]]>
         </description>
         <pubDate>Wed, 06 Oct 2021 03:21:29 GMT</pubDate>
         <guid>https://www.nytimes.com/2021/10/05/magazine/dorland-v-larson.html</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
      <item>
         <title>
            <![CDATA[ Restaurants Take the Din Out of Dining (Published 2015) ]]>
         </title>
         <link>
         https://www.nytimes.com/2015/09/09/dining/restaurants-noise-acoustics.html</link>
         <description>
            &lt;img src=&quot;https://static01.nyt.com/images/2015/09/09/dining/09NOISE1/09NOISE1-articleLarge.jpg?year=2015&amp;h=901&amp;w=600&amp;s=2e4ba39b0eb04d3dea95455ce77e96890fb6c4dc3d957e8c6c98358b682bcf6f&amp;k=ZQJBKqZ0VN&amp;tw=1&quot; /&gt;&lt;br/&gt;<![CDATA[ Establishments like Untitled are becoming more serious, and sophisticated, about acoustics and noise reduction. ]]>
         </description>
         <pubDate>Sun, 22 Aug 2021 12:33:06 GMT</pubDate>
         <guid>https://www.nytimes.com/2015/09/09/dining/restaurants-noise-acoustics.html</guid>
         <category>article</category>
         <category>
            <![CDATA[ Society and Politics ]]>
         </category>
      </item>
   </channel>
</rss>