---
layout: layouts/base.njk
openGraph: 'opengraph-fromjason.png'
sub: fromjason
permalink: "/newsletter.html"
---

<header class="header">
      {% include "partials/nav.njk" %}  
        <div class="masthead"><img src="img/computer.png" alt="grotesque mask illustration" class="deckhead-img-xl-2">
          <div class="masthead-text-block">
            <h1 class="display-new">W.H.A.T.S Gone?</h1>
            <p class="lead-2">(Where Have All The Sites Gone?)</p>
            <div class="display-2nd-line-2">A Newsletter</div>
            <div class="display-3rd-line">For Rediscovering</div>
            <div class="display-4th-line">The World Wide Web</div>
            <p class="lead-copy">(Where Have All The Sites Gone?)</p>
          </div>
        </div>
        <article class="article">
        <h2 class="section-header-home">What to expect</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget lobortis arcu, et fermentum nisi. </p>
        <p>Morbi molestie efficitur diam, a pulvinar neque faucibus et. Suspendisse a lorem facilisis, tristique mauris id, consequat ex. Aenean suscipit ante eget tempor finibus. Suspendisse rutrum sollicitudin nunc et auctor. Donec varius leo consectetur tincidunt venenatis. Fusce sit amet porta felis, non congue arcu.</p>
        <p>Suspendisse eu varius ex, ut vulputate quam. Nunc vitae justo eget ipsum consectetur pretium. Curabitur pretium ipsum mi, sit amet tristique nibh elementum vel. Praesent ut dolor ac eros lobortis aliquam sit amet nec sapien.</p>
      </article>
        
        
      </header>