---
title: All plots
description: Plots are how I organize my digital garden. 
plot: all
graphic: '20.png'
graphicAlt: 'illustration of a mask'
layout: "layouts/page.njk"
permalink: "/p/"
eleventyNavigation:
    key: all plots
    order: 4
---
  
<h1>{{ title }}</h1>
<p class="lead under-title">{{ description }}</p>

<div class="auto-list-block">
{% set filterByPlotHomePage = collections.homepage | include("data.sub", "plots") %}
{% set postslist = filterByPlotHomePage %}
{% include "mepostslist.njk" %}

</div>
