---
plot: notebook
plotKey: 2
sub: plots
rssDir: '/p/notebook'
eleventyComputed:
  eleventyNavigation:
    key: "{{ plot }}"
    order: "3"
  title: "{{ plot }}"
description: Very serious stuff. Typos included.
---
<article class="article">
   <p>
      Here, I post about technology, design, politics, curated resources, and internet culture. Or, anything, really. I expect to create a category system for this notebook, each with its own set of editorial expectations. More on that soon. Maybe.
   </p>
      <p>Follow my Notebook feed: <a href="https://fromjason.xyz/p/notebook/feed/feed.xml" class="accent" title="rss feed for notebook">xml</a> or <a href="https://fromjason.xyz/p/notebook/feed/feed.json" class="accent" title="rss feed for notebook">json</a> feed. If you're unsure, choose "xml”.</p>
</article>

   {% set filterByPlot = collections.posts | include("data.sub", plot) %}
   {% set postsCount = filterByPlot | length %}
   {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
   <h2>Latest {{ latestPostsCount }} note{% if latestPostsCount != 1 %}s & such{% endif %}</h2>
   {% set postslist = filterByPlot | head(-1 * numberOfLatestPostsToShow) %}
   {% set postslistCounter = postsCount %}
   {% include "postslist.njk" %}
   {% set morePosts = postsCount - numberOfLatestPostsToShow %}
   {% if morePosts > 0 %}
   <p style="margin-top: 1.5em;">{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/p/{{ plot }}/all/">all {{ plot }} posts</a>.</p>
   {% endif %}
<div class="auto-list-block">
   <h2>Series</h2>
   {% set filterByPlotSeries = collections.all | include("data.sub", plot) | include("data.series", "titlepage") %}
   {% set postslist = filterByPlotSeries %}
   {% include "postslist.njk" %}
   <p class="muted"><i>No series yet. Hit me up <a href="https://mastodon.social/@fromjason" rel="me" title="my mastadon" target="_blank">me on Mastodon</a> to make one for my notebook.</i></p>
</div>
