---
plot: travel
plotKey: 5
sub: plots
rssDir: '/p/travel'
eleventyComputed:
  title: "{{ plot }}"
description: I went to Italy once.
---
<article class="article">
   <p>
      My first new plot since <a href="https://www.fromjason.xyz/p/freelance/from-jason-2-0-is-an-11ty-powered-digital-garden-with-multiple-plots/" title="digital garden">launching 2.0</a>. I will start by uploading my old travel posts and go from there. 
   </p>
      <p>Subscribe to my Travel feed: (ATOM) <a href="https://fromjason.xyz/p/travel/feed/feed.xml" class="accent" title="rss feed for travel">xml feed</a> or <a href="https://fromjason.xyz/p/travel/feed/feed.json" class="accent" title="rss feed for travel">json feed</a>. If you're unsure, choose "xml".</p>
</article>

   {% set filterByPlot = collections.posts | include("data.sub", plot) %}
   {% set postsCount = filterByPlot | length %}
   {% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
   <h2>Latest {{ latestPostsCount }} note{% if latestPostsCount != 1 %}s & such{% endif %}</h2>
   {% set postslist = filterByPlot | head(-1 * numberOfLatestPostsToShow) %}
   {% set postslistCounter = postsCount %}
   {% include "postslist.njk" %}
   {% set morePosts = postsCount - numberOfLatestPostsToShow %}
   {% if morePosts > 0 %}
   <p style="margin-top: 1.5em;">{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/p/{{ plot }}/all/">all {{ plot }} posts</a>.</p>
   {% endif %}
<div class="auto-list-block">
   <h2>Series</h2>
   {% set filterByPlotSeries = collections.all | include("data.sub", plot) | include("data.series", "titlepage") %}
   {% set postslist = filterByPlotSeries %}
   {% include "postslist.njk" %}
   <p class="muted"><i>No series yet. Hit me up <a href="https://mastodon.social/@fromjason" rel="me" title="my mastadon" target="_blank">me on Mastodon</a> to make one for travel.</i></p>
</div>
