---
title: All stories posts
plot: stories
---

<h1>{{ title }}</h1>

{% set FilterPostsByPlot = collections.posts | include("data.sub", plot) %}
{% set postslist = FilterPostsByPlot %}
{% include "postslist.njk" %}