---
title: All posts from everywhere
permalink: "/all/"
eleventyComputed: {
		title: "All posts from all plots"
	}
---

<h1>{{ title }}</h1>

{% set GetAllPosts = collections.posts %}
{% set postslist = GetAllPosts %}
{% include "postslist.njk" %}