               <aside class="masthead">
                  <img src="{{ settings.siteRoot}}/img/{{ logo }}" loading="lazy" alt="grotesque mask illustration" class="deckhead-img">
                  <h1 class="display">{{ title }}</h1>
                  <p class="lead enter-text">{{ description }}</p>
                  {% include "partials/cta.njk" %}
               </aside>
