               <nav class="navbar">
               {%- for entry in collections.all | eleventyNavigation %}
					<span class="nav-item"><a class="navbar-link" href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></span>
				{%- endfor %}
               </nav>