---
# metadata comes from _data/eleventyComputed.js
plotID: "p001"
permalink: "/p/notebook/feed/feed.xml"
sub: 'notebook'
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ plotInfo[plotID].language }}">
    <title>{{ plotInfo[plotID].name }} {{ site.name }}</title>
    <subtitle>{{ plotInfo[plotID].description }}</subtitle>
    <link href="/p/notebook/feed/feed.xml" />
    <link href="/p/notebook/"/>
    <updated>
        {% set subAllnotebook = collections.posts | include("data.sub", "notebook") %}{{ subAllnotebook | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ subsdata.notebook.url }}</id>
    <author>
        <name>{{ subsdata.notebook.author.name }}</name>
        <email>{{ subsdata.notebook.author.email }}</email>
    </author>
    {%- for post in subAllnotebook | reverse %}
        {% set absolutePostUrl %}{{ post.url | htmlBaseUrl(subsdata.notebook.url) }}{% endset %}
        <entry>
            <title>{{ post.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ post.date | dateToRfc3339 }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content type="html">{{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) }}</content>
        </entry>
    {%- endfor %}
</feed>