---
# Metadata comes from _data/subsdata.js
permalink: /freelance/feed/feed.json
sub: 'freelance'
---
{
    "version": "https://jsonfeed.org/version/1.1",
    "title": "{{ subsdata.freelance.fulltitle }}",
    "language": "{{ subsdata.freelance.language }}",
    "home_page_url": "{{ subsdata.freelance.url | addPathPrefixToFullUrl }}",
    "feed_url": "{{ permalink | htmlBaseUrl(subsdata.freelance.url) }}",
    "description": "{{ subsdata.freelance.description }}",
    "author": {
        "name": "{{ subsdata.freelance.author.name }}",
        "url": "{{ subsdata.freelance.author.url }}"
    },
    "items": [{% set subAllfreelance = collections.posts | include("data.sub", "freelance") %}{%- for post in subAllfreelance | reverse %}{%- set absolutePostUrl = post.url | htmlBaseUrl(subsdata.freelance.url) %}{
                "id": "{{ absolutePostUrl }}",
                "url": "{{ absolutePostUrl }}",
                "title": "{{ post.data.title }}",
                "content_html":{% if post.templateContent %}{{ post.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) | dump | safe }}
                {% else %}
                    ""
                {% endif %},
                "date_published": "{{ post.date | dateToRfc3339 }}"
            }
            {% if not loop.last %},{% endif %}{%- endfor %}]
}