---
title: Bio
description: Not as long as other autobiographies but every bit as pompous.
graphic: '20a.png'
graphicAlt: 'illustration of a mask'
sub: me
---
<h1>Jason's {{ title }}</h1>

<p class="lead under-title">{{ description }}</p>


<p>It's me, Jason. I'm a freelancer, occasional storyteller, and self-taught over-thinker.</p>

<p>I'm also a writer and web developer. <a href="https://www.pixelriot.io" rel="me">Pixel Riot</a> is my freelance business. It's going through a bit of a transitional period at the moment, as I shift from offering services to creating digital products. Check out my <a href="https://omg.fromjason.xyz/now" title="what I'm up to now">Now</a> page.</p>

<p>I enjoy curating lists—an activity that feeds my brain— and sharing those lists with my friends, unsolicited. I also have a passion for well-designed things. One of my favorite books is <i><a href="https://en.wikipedia.org/wiki/The_Design_of_Everyday_Things" target="_blank">The Design of Everyday Things</a></i> by Donald Norman.</p>

<p>I'm a solo traveler, pastry sommelier, and admirer of the French Goodbye. I like full-grain leather weekend bags, libraries, and 90s New York rap. My favorite hobby is collecting note-taking apps.</p>

<p>My life’s goal is to own a small goat farm in Montana. There, I'll write a mediocre Magic Realism novel. I'll grow a long, patchy beard and wear a tattered wool sweater. As the years pass, I slowly slip into mild insanity.</p>

<p>One day, while at the market, I notice a newspaper with the headline “World Ending! Zombies Invade!”  When I arrive back home, a child is standing at my door. I learn that the child has the zombie cure. I know what I must do. I embark on a hero's journey, trekking across country to save the world. Will I succeed? Only God knows.</p>

<p>Anyway, that's an original story idea. Please don't steal it <a href="https://en.wikipedia.org/wiki/The_Last_of_Us_(TV_series)" title="The Last of Us" target="_blank">.</a></p>

<p>If you enjoyed my writing and you want to say thanks, I take both <a href="mailto:inbox@jvelazquez.email">friendly emails</a> and <a href="https://www.buymeacoffee.com/fromjason">cold hard motherfucking cash</a> (you can buy me a coffee thanks).</p>

<p>I love you,</p>

<p>— Jason</p>
