---
title: Colophon
description: Or, how I made this website, who helped, and all my inspirations.
graphic: 'graphic-colophon.png'
graphicAlt: 'illustration of two masks'
sub: me
---
<h1>{{ title }}</h1>
<p class="lead under-title">{{ description }}</p>

<p>This is my site's (abridged) <em>colophon</em>; a word I definitely knew before today. I'm still working on the full write-up, but I didn't want to keep the site up for too long without giving proper credits. So, here is the abridged version for now.</p>

<h2>Tom Chalky for typeface and graphics</h2>

<p>The primary font is called <a href="https://tomchalky.com/product/volume-handcrafted-trio-font-family/">Volume</a> TC and the secondary font is called Volume TC Sans. Both are handcrafted by <a href="https://tomchalky.com">Tom Chalky</a>. The graphics are mostly from old books that Tom vectorized and offers in different <a href="https://tomchalky.com/product-category/illustrations/">illustration packages</a>.</p>

<h2>Webflow for HTML and CSS</h2>

<p>I made the design in <a href="https://webflow.com">Webflow</a> and exported the site (HTML &amp; CSS).</p>

<h2>11ty for static site generation</h2>

<p><a href="https://www.11ty.dev">11ty</a> is a lightweight static site generator. I chopped up my HTML and used the <a href="https://www.11ty.dev/docs/starter/">11ty starter template</a> called <a href="https://github.com/11ty/eleventy-base-blog">eleventy-base-blog</a> as the structural foundation for the site.</p>

<h2>Netlify for hosting (and Github)</h2>

<p>I use <a href="https://github.com">Github</a> as my repository and linked it to <a href="https://www.netlify.com">Netlify</a>. When I commit a change in Github (like adding a post) it automatically updates my site.</p>

<h2>Digital Gardens for Ethos</h2>

<p>I stumbled on the concept of digital gardens in Maggie Appleton's blog post <em><a href="https://maggieappleton.com/garden-history">A Brief History &amp; Ethos of the Digital Garden</a></em>.</p>

<h2>Other inspirations</h2>

<p><a href="https://web.archive.org/web/20130501212555/http://ia.net/blog/sweep-the-sleaze/">Information Architects website design circa 2011</a></p>

<p><a href="https://writefreely.org">Write Freely, open source writing space</a></p>

<p><a href="http://motherfuckingwebsite.com/">This is a motherfucking website</a></p>

<p><a href="https://mnmlist.com/a-case-for-storing-all-your-info-in-text-files/">Store everything in text files</a></p>

<p><a href="https://idlewords.com/talks/website_obesity.htm">The Website Obesity Crisis</a></p>

<p><a href="https://stackingthebricks.com/how-blogs-broke-the-web/">How the Blog Broke the Web</a></p>

<p><a href="https://www.swyx.io/digital-garden-tos">Digital Garden Terms of Service</a></p>

<p><a href="https://every.sdf.org/US_ASCII/Geekish/various/taco_bell.txt">Taco Bell Programming</a></p>

<p><a href="https://blog.erlend.sh/communal-bonfires">Communal Bonfires</a></p>

<p><a href="https://mcfunley.com/choose-boring-technology">Choose Boring Technology</a></p>

<p><a href="https://www.smashingmagazine.com/2020/08/autonomy-online-indieweb/">Autonomy Online: A Case For The IndieWeb</a></p>

<p><a href="https://pxlnv.com/blog/bullshit-web/">The Bullshit Web</a>
￼
<a href="https://cheapskatesguide.org/articles/take-back-the-internet.html">￼How to Take Back the Internet by Choosing the Internet Less Traveled</a></p>

<p><em>More to come.</em></p>