---
title: Jason Velazquez
description: This section is about me, Jason. It includes the basics, plus where to find me. Why are you looking for me? Weirdo. (Please look for me). 
graphic: '20a.png'
graphicAlt: 'illustration of a mask'
plot: me
eleventyComputed:
  eleventyNavigation:
    key: "me stuff"
    order: "2"

---

<div class="h-card p-author">
   <h1 class="p-name">{{ title }}</h1>
   <p class="lead under-title">{{ description }}</p>
   {% set filterByMe = collections.me | include("data.sub", "me") %}
   {% set postslist = filterByMe %}
   {% include "mepostslist.njk" %}
   <h2>Where to find me</h2>
   <p>Here are a few ways to reach me and follow my writing.</p>
   <h3>Email</h3>
   <p>Shoot me an email anytime about anything. I'd love to hear from you » <a href="mailto:simplelogin-newsletter.detonate964@simplelogin.com" title="my email forward address">Email Jason</a></p>
   <p><i>Note: I use an email forwarding service to cut down on spam bots. I may reply to your message from a different address.</i></p>
   <h3>My Socials</h3>
   <ul>
      <li>Instagram: <a href="https://instagram.com/jasondotgov" rel="me" tilte="my instagram">@jasondotgov</a></li>
      <li>Threads: <a href="https://www.threads.net/@jasondotgov" rel="me" title="my threads">@jasondotgov</a></li>
      <li>TikTok: <a href="https://www.tiktok.com/@jasondotgov" rel="me" title="my tiktok">@jasondotgov</a></li>
      <li>Mastodon: <a href="https://mastodon.social/@fromjason" rel="me" title="my mastadon">@fromjason</a></li>
   </ul>
   <h3>RSS Feeds</h3>
   <p>You can now subscribe to the indvidual subs that make up From Jason  <i>*air horn noise*</i>. Use the links below or copy / paste the sub's url into your favorite RSS reader.</p>
   <h4>XML RSS</h4>
   <ul>
      <li><a href="https://www.fromjason.xyz/notebook/feed/feed.xml" title="subscribe rss notebook">notebook</a></li>
      <li><a href="https://www.fromjason.xyz/freelance/feed/feed.xml" title="subscribe rss freelance">freelance</a></li>
      <li><a href="https://www.fromjason.xyz/stories/feed/feed.xml" title="subscribe rss stories">stories</a></li>
   </ul>
   <h4>JSON RSS</h4>
   <ul>
      <li><a href="https://www.fromjason.xyz/notebook/feed/feed.json" title="subscribe rss notebook">notebook</a></li>
      <li><a href="https://www.fromjason.xyz/freelance/feed/feed.json" title="subscribe rss freelance">freelance</a></li>
      <li><a href="https://www.fromjason.xyz/stories/feed/feed.json" title="subscribe rss stories">stories</a></li>
   </ul>
</div>