---
title: Now
description: Things I'm up to— my current projects, passions, hyper fixations, and unreasonable goals. 
graphic: 'graphic-pocketwatch.png'
graphicAlt: 'illustration of a mask'
sub: me
---
<h1>{{ title }}</h1>
<p class="lead under-title">{{ description }}</p>
<p>What I'm up to now is working on the <i>what I'm up to now</i> page. Stay tuned.</p>