---
title: Now
description: Things I'm up to— my current projects, passions, hyper fixations, and unreasonable goals. 
graphic: 'pocketwatch.png'
graphicAlt: 'illustration of a mask'
sub: me
---
<h1>{{ title }}</h1>

<p>My "now" page is located at <a href="https://omg.fromjason.xyz/now">omg.fromjason.xyz/now</a> for now, at least heh.</p>
