---
title: All posts
layout: layouts/page.njk
permalink: "/notebook/{{ title | slugify }}/"
---

<h1>All notebook posts</h1>


<div class="auto-list-block">

{% set subAllNotebook = collections.posts | include("data.sub", "notebook") %}

{% set postslist = subAllNotebook %}

{% include "postslist.njk" %}

</div>

