---
layout: layouts/home.njk
eleventyNavigation:
  key: freelance
  order: 3
numberOfLatestPostsToShow: 10
title: freelance
description: Freelance? In this economy?
logo: 'freelance-1.svg'
openGraph: 'freelance'
sub: freelance
---

          <article class="article">


               <p>Here, I'll post guides, resources, and musings related to freelancing with a leftist &amp; ADHD slant. I've been a freelancer for nearly a decade. I have hard opinions. I hope to help new freelancers get going.</p>
             

            </article>

            <div class="auto-list-block">
{% set subDomFreelance = collections.posts | include("data.sub", "freelance") %}

{% set postsCount = subDomFreelance | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} post{% if latestPostsCount != 1 %}s & such{% endif %}</h2>

{% set postslist = subDomFreelance | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p style="margin-top: 1.5em;">{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/freelance/all-posts/">all notebook posts</a>.</p>
{% endif %}


</div>
