---
layout: layouts/base.njk
body: body-primary
openGraph: 'fromjason.png'
---
 <header class="header">
 	{% include "partials/nav.njk" %}
 	{% include "partials/masthead.njk" %}
 </header>
{{ content | safe }}
