---
layout: layouts/base.njk
defaultGraphic: 'graphic-default.png'
body: body-secondary
---
            <header class="header">
                        <nav class="navbar">
                               {% include "partials/backbutton.njk" %}
         
 </nav>
            </header>
    <article class="article">
    <img style="width: 100%; max-width: 400px;" src="{{ settings.siteRoot}}/img/{% if postGraphic %}{{ postGraphic }}{% else %}{{ defaultGraphic }}{% endif %}" loading="lazy" alt="{{ graphicAlt }}" > 

{{ content | safe }}    

   </article>
