---
layout: layouts/base.njk
defaultGraphic: 'graphic-5.png'
body: body-primary
---
<header class="header">
   <nav class="navbar">
      {% include "partials/backbutton.njk" %}
   </nav>
</header>
</header>
<article class="article">
   <img class="graphic" src="{{ settings.siteRoot}}/img/{% if pageGraphic %}{{ pageGraphic }}{% else %}{{ defaultGraphic }}{% endif %}" loading="lazy" alt="{{ graphicAlt }}" > 
   {{ content | safe }}    
</article>
<!-- Javascript --><script>
   // This script sets up the copy functionality for each button
   
   // Function to copy text to clipboard
   function copyTextToClipboard(text) {
     navigator.clipboard.writeText(text).then(function() {
       alert('Text successfully copied to clipboard');
     }).catch(function(err) {
       alert('Error in copying text: ' + err);
     });
   }
   
   // Event listener for all copy buttons
   document.querySelectorAll('.copy-btn').forEach(function(button) {
     button.addEventListener('click', function(event) {
       // Get the ID of the target element from the data-target attribute
       var targetId = event.target.getAttribute('data-target');
       var text = document.getElementById(targetId).innerText;
       copyTextToClipboard(text);
     });
   });
</script>