---
layout: layouts/base.njk
defaultGraphic: 'graphic-default.png'
---
<header class="header">
   <nav class="navbar">
      {% include "partials/backbutton.njk" %}
      {% include "partials/jumplink.njk" %}
   </nav>
</header>
<article class="h-entry article">
   <img class="graphic" src="{{ settings.siteRoot}}/img/{% if postGraphic %}{{ postGraphic }}{% else %}{{ defaultGraphic }}{% endif %}" loading="lazy" alt="{{ graphicAlt }}" > 
<div class="e-content">   
{{ content | safe }}
 </div>  
  <button class="tinylytics_kudos"></button>
<h4>Metadata</h4>
   <div class="metatable w-embed">
      <table>
         <thead>
            <tr>
               <th>label</th>
               <th>name</th>
            </tr>
         </thead>
         <tbody>
         </tbody>
         <colgroup>
            <col>
            <col>
         </colgroup>
         <tbody>
            <tr>
               <td>Plot</td>
               <td><a href="/{{ sub | slugify }}">{{ sub }}</a></td>
            </tr>
            <tr>
               <td>Published</td>
               <td>
                  <!-- Date for humans -->
                 <a class="u-url" href="{{ page.url }}" style="color: inherit;"><time datetime="{{ page.date | htmlDateString }}">{{ date | readableDate }}</time></a>
                  <!-- Date for bots (microformat) -->
                 <time class="dt-published" style="display: none;">{{ page.date }}</time>
               </td>
            </tr>
            <tr>
               <td>Type</td>
               <td>{{ type }}</td>
            </tr>
            <tr>
               <td>Phase</td>
               <td>{{ phase }}</td>
            </tr>
             <tr style="display: none;">
               <td>Author</td>
               <td><a href="https://www.fromjason.xyz" class="p-author h-card">Jason Velazquez</a></td>
            </tr>
            <tr>
               <td>Tags</td>
               <td>
                  {%- for tag in tags | filterTagList %}
                  {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                  <span><a href="{{ tagUrl }}" class="p-category post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</span>
                  {%- endfor %}
               </td>
            </tr>
            <tr id="ps-aia">
               <td>Assumed audience</td>
               <td>{{ audience }}</td>
            </tr>
         </tbody>
      </table>
   </div>
</article>
<aside class="postscripts">
   <div class="ps-item">
      <div class="ps-title">† Article&#x27;s assumed audience (AAA)</div>
      <div class="ps-body">Sometimes, I identify who I&#x27;m writing for as a way to provide context. It&#x27;s like saying, &quot;I&#x27;m using a lot of technical terms because I wrote this post for frontend developers,” or &quot;Sorry if I&#x27;m getting too symmetrical, this one&#x27;s for my Wes Anderson fans.&quot; <em>But</em>, all are welcomed, always. If you&#x27;re not in this article&#x27;s intended audience, but you find this article interesting, wonderful! Please stick around, read the post, and feel free to ask me questions.</div>
   </div>
   <div id="ps-affiliate" class="ps-item">
      <div class="ps-title">Referrals &amp; affiliates</div>
      <div class="ps-body"> I do <em>not</em> receive commission for anything I share, endorse, or discuss, anywhere on <em>From Jason</em>. I have no sponsorships, or advertiser agreements. If that ever changes, I will let you know.</div>
   </div>
</aside>
