---
layout: layouts/base.njk
defaultGraphic: '5.png'
---
<header class="header">
   <nav class="navbar">
      {% include "partials/backbutton.njk" %}
      {% include "partials/jumplink.njk" %}
   </nav>
</header>
               {% set publishDisplayDate = "" %}
               
               {% if pubDate %}
   				{% set publishDisplayDate = pubDate %}
  				 {% else %}
   				{% set publishDisplayDate = page.date %}
   				{% endif %}
<article class="article">
   <img class="graphic" src="{{ settings.siteRoot}}/img/{% if postGraphic %}{{ postGraphic }}{% else %}{{ defaultGraphic }}{% endif %}" loading="lazy" alt="{{ graphicAlt }}" > 
  <div class="article-overline">
        <div class="article-overline-date">
        {{ publishDisplayDate | readableDate }}
        </div>
        <div class="badge right-025em">
          <div class="article-overline-type">{{ type }}</div>
        </div>
      </div>
   <div class="e-content">   
{{ content | safe }}
 </div> 
   
    <button class="tinylytics_kudos" style="margin-top: 1em; padding: 0.4em 0.75em; background: #FAF9F5; border: 1px solid #c8c4bf;"></button>
   <h4>Metadata</h4>
   <div class="metatable w-embed">
      <table>
         <thead>
            <tr>
               <th>label</th>
               <th>name</th>
            </tr>
         </thead>
         <tbody>
         </tbody>
         <colgroup>
            <col>
            <col>
         </colgroup>
         <tbody>
            <tr>
               <td>Plot</td>
               <td><a href="/p/{{ sub | slugify }}">{{ sub }}</a></td>
            </tr>
              <tr>
               <td>Published</td>

               
               <td>
               <time datetime="{{ publishDisplayDate | htmlDateString }}">{{ publishDisplayDate | readableDate }}</time>
               
               </td>
            </tr>
             {% if pubDate %}
            <tr>
               <td>Last edited</td>
               <td><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></td>
            </tr>
            {% else %}
            &nbsp;
            {% endif %}
            <tr>
               <td>Type</td>
               <td>{{ type }}</td>
            </tr>
            <tr>
               <td>Phase</td>
               <td>{{ phase }}</td>
            </tr>
            <tr>
               <td>Tags</td>
               <td>
                  {%- for tag in tags | filterTagList %}
                  {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                  <span><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</span>
                  {%- endfor %}
               </td>
            </tr>
            <tr id="ps-aia">
               <td>Assumed audience</td>
               <td>{{ audience }}</td>
            </tr>
         </tbody>
      </table>
   </div>
</article>
<aside class="postscripts">
{% if noCoffee %}
&nbsp;
{% else %}
<div class="ps-item coffee">
<div class="ps-title">
caffeinate me
</div>
<div class="ps-body">
If you have ever found my writing valuable and you want to help me continue avoiding doing my laundry, you can <a href="https://www.buymeacoffee.com/fromjason" target="_blank">buy me a coffee</a>. It would mean a lot.
 </div> 
</div>
{% endif %}

   <div class="ps-item">
      <div class="ps-title">† Article&#x27;s assumed audience (AAA)</div>
      <div class="ps-body">Sometimes, I identify who I&#x27;m writing for as a way to provide contextIt&#x27;s like saying, &quot;I&#x27;m using a lot of technical terms because I wrote this post for frontend developers,” or &quot;Sorry if I&#x27;m getting too symmetrical, this one&#x27;s for my Wes Anderson fans.&quot; <em>But</em>, all are welcomed, always. If you&#x27;re not in this article&#x27;s intended audience, but you find this article interesting, wonderful! Please stick around, read the post, and feel free to ask me questions.</div>
   </div>
   <div id="ps-affiliate" class="ps-item">
      <div class="ps-title">Referrals &amp; affiliates</div>
      <div class="ps-body"> I do <em>not</em> receive commission for anything I share, endorse, or discuss, anywhere on <em>From Jason</em>. I have no sponsorships, or advertiser agreements. If that ever changes, I will let you know.</div>
   </div>
<img style="width: 150px; margin-top: 20px; margin-right: auto; margin-left: auto;" src="{{ settings.siteRoot}}/img/Badge_BlogPunk-2.svg" />
</aside>
