---
layout: layouts/base.njk
defaultGraphic: 'default.png'
---
<header class="header">
   {% include "partials/backbutton.njk" %}
   {% include "partials/jumplink.njk" %}
</header>
<article class="article">
   <img class="graphic" src="{{ settings.siteRoot}}/img/graphic-{% if graphic %}{{ graphic }}{% else %}{{ defaultGraphic }}{% endif %}" loading="lazy" alt="{{ graphicAlt }}" > 
   {{ content | safe }}
</article>